In [1]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))

c = a+b
print(c)

1354

In [2]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))

rem = a%b
print(rem)

63

In [3]:
a = input("enter a number : ")
print(a)
type(a)

87

str

In [4]:
a = 34
b = 80

if a>b :
    print("a is greater than b")
else: 
    print("b is greater than a")

b is greater than a

In [5]:
a = int(input("Enter a number 1 : "))
b = int(input("Enter a number 2 : "))

print("a is greater than b : ", a>b)

a is greater than b :  False

In [6]:
a = int(input("Enter a number 1 : "))
b = int(input("Enter a number 2 : "))

avg = (a+b)/2

print(avg)

777.5

In [2]:
a = int(input("Enter a number : "))
sqrt1 = a*a
sqrt2 = a**2
print(sqrt1)
print(sqrt2)

25
25

In [ ]:
name = "Manish"
print(name)             #String are Immutable
name = "Maniushd"
print(name)

Manish
Maniushd

In [9]:
a = "nxhisu. ninx . xnsian"
b = "Kdscsh \"afewfm smcsk "
print(a.capitalize())
print(b)

Nxhisu. ninx . xnsian
Kdscsh "afewfm smcsk

In [10]:
print("Hel\rloWorld")

loWorld

In [11]:
print("Hell\boW\aorld\a")

HeloWorld

In [3]:
a = input("Enter string : ")

print("Good Afternoon,",a)
print(f"Good Afternoon, {a}")

Good Afternoon, Manish
Good Afternoon, Manish

In [13]:
a = "scd  sdf"
print(a.__contains__("  "))
print(a.find("  "))
print(a)
print(a.replace("  "," "))
print(a)                       # Strings are Immutable
# a[0] = 'h'

True
3
scd  sdf
scd sdf
scd  sdf

In [6]:
letter = '''Dear <|Name|>, 
You are selected! 
<|Date|> 
''' 

print(letter.replace("<|Name|>","Manish").replace("<|Date|>","21 Feb 2025"))    #chaining

Dear Manish,
You are selected!
21 Feb 2025

In [10]:
letter = "Dear Harry,\n\tThis python course is nice.\nThanks!" 
print(letter)

Dear Harry,
	This python course is nice.
Thanks!

In [23]:
list = ["Manish",6,4.54,"Aakash",False]
print(list[3])

list[3] = "Rishabh"
print(list[3])

print(list)

print(list[0:3])

Aakash
Rishabh
['Manish', 6, 4.54, 'Rishabh', False]
['Manish', 6, 4.54]

In [24]:
list = ["Manish",6,4.54,"Aakash",False]
print(list)

list.append("Aniket")
print(list)

['Manish', 6, 4.54, 'Aakash', False]
['Manish', 6, 4.54, 'Aakash', False, 'Aniket']

In [ ]:
l1 = [445,546,658,3,56,456]

# l1.sort()
# l1.reverse()

#  l1.insert(3,"Manish")   #insert "Manish" at index 3

#l1.pop(3)

# l1.remove(56)

print(l1)

[445, 546, 658, 3, 456]

In [46]:
a = (2)
print(a)
print(type(a))

2
<class 'int'>

In [48]:
b = (2,)
print(b)
print(type(b))

(2,)
<class 'tuple'>

In [49]:
c = ()
print(c)
print(type(c))

()
<class 'tuple'>

In [52]:
d = (1,2,3,4,5,6,7)
print(d)
print(type(d))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [53]:
e = (1,2,3,4,5,6,7,False,8943.354425, "Sorry")
print(e)
print(type(e))

(1, 2, 3, 4, 5, 6, 7, False, 8943.354425, 'Sorry')
<class 'tuple'>

In [56]:
f = (1,2,3,4,5,6,7,False,8943.354425, "Sorry")
print(f)
print(f.count(3))
print(f.index(3))

(1, 2, 3, 4, 5, 6, 7, False, 8943.354425, 'Sorry')
1
2

In [57]:
concat = e+f
print(concat)

(1, 2, 3, 4, 5, 6, 7, False, 8943.354425, 'Sorry', 1, 2, 3, 4, 5, 6, 7, False, 8943.354425, 'Sorry')

In [63]:
repeated = d*3
print(repeated)
print(1 in d)
print(len(d))
print(min(d))
print(max(d))
print(d[3:5])

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)
True
7
1
7
(4, 5)

In [64]:
g = (1,2,3)
a,b,c = g
print(a,b,c)

1 2 3

In [68]:
fruits = []

f1 = input("Enter Fruit Name : ")
fruits.append(f1)

f2 = input("Enter Fruit Name : ")
fruits.append(f2)

f3 = input("Enter Fruit Name : ")
fruits.append(f3)

f4 = input("Enter Fruit Name : ")
fruits.append(f4)

f5 = input("Enter Fruit Name : ")
fruits.append(f5)

f6 = input("Enter Fruit Name : ")
fruits.append(f6)

f7 = input("Enter Fruit Name : ")
fruits.append(f7)

print(fruits)

['Banana', 'Apple', 'Grapes', 'Watermelon', 'Papaya', 'Strawberry', 'Kiwi']

In [ ]:
marks = []

f1 = input("Enter Marks here : ")
marks.append(f1)

f2 = input("Enter Marks here : ")
marks.append(f2)

f3 = input("Enter Marks here : ")
marks.append(f3)

f4 = input("Enter Marks here : ")
marks.append(f4)

f5 = input("Enter Marks here : ")
marks.append(f5)

f6 = input("Enter Marks here : ")
marks.append(f6)

f7 = input("Enter Marks here : ")
marks.append(f7)

marks.sort()

print(marks)

['0', '78', '8', '80', '89', '9', '9']

In [71]:
marks = []

f1 = int(input("Enter Marks here : "))
marks.append(f1)

f2 = int(input("Enter Marks here : "))
marks.append(f2)

f3 = int(input("Enter Marks here : "))
marks.append(f3)

f4 = int(input("Enter Marks here : "))
marks.append(f4)

f5 = int(input("Enter Marks here : "))
marks.append(f5)

f6 = int(input("Enter Marks here : "))
marks.append(f6)

f7 = int(input("Enter Marks here : "))
marks.append(f7)

marks.sort()

print(marks)

[73, 78, 84, 89, 90, 90, 92]

In [ ]:
h = (45,458,"hashidh")

# h[1] = 678                  Tuple is Immutable

In [73]:
i = [23,45,67,89]

print(sum(i))

224

In [74]:
j = (2,0,4,0,6,7,9,0,4,0,1,0)

print(j.count(0))

5